.element__img {
    width: 100%;
    min-height: 282px;
    max-height: 282px;
    object-fit: cover;
    aspect-ratio: auto;
    object-position: center;
    transition: all 0.5s;
}

.element__img:hover {
    cursor: pointer;
    opacity: 0.7;
}